USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETSUPPLIER]    Script Date: 12/24/2024 12:07:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETSUPPLIER]
AS
BEGIN
	SELECT MaNCC, TenNCC
	FROM NhaCungCap
END