USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNEWIDBILL]    Script Date: 12/24/2024 12:05:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETNEWIDBILL]
AS

BEGIN
	
	SELECT NEWMAHD = ISNULL(MAX(CAST(SoHD AS INT)), 0) + 1 FROM LINK0.QLVT.DBO.HoaDon
END