USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNEWIDIMOPRT]    Script Date: 12/24/2024 12:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETNEWIDIMOPRT]
AS

BEGIN
	
	SELECT NEWMAPN = (SELECT CONCAT('PN' ,COUNT(SOPN) + 1) FROM LINK0.QLVT.DBO.PHIEUNHAP)
END