USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEPRODUCT]    Script Date: 12/24/2024 12:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UPDATEPRODUCT]
	@MaHH CHAR(10),
    @TenHH NVARCHAR(100),
	@DonViTinh nvarchar(20),
    @TenLH NVARCHAR(100)
AS
BEGIN
	DECLARE @NEWMALH NVARCHAR(100)
	SET @NEWMALH = (SELECT MaLH FROM LoaiHang WHERE TenLH =@TenLH)
	UPDATE HANGHOA
	SET MaHH = @MaHH , TenHH = @TenHH, DonViTinh = @DonViTinh, MaLH = @NEWMALH
	WHERE MaHH = @MaHH

END

