USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETPRODUCTINWAREHOUSE2]    Script Date: 12/24/2024 12:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETPRODUCTINWAREHOUSE2]
	@MAHH CHAR(10),
	@MAKHO CHAR(10)
AS
BEGIN
	SELECT MaHH, KHO.MaKho ,TenKho , SOLUONG =  SUM(SoluongTon), DonGia
	FROM  ChiTietPhieuNhap AS CTPN 
	JOIN PhieuNhap AS PN
	ON PN.SoPN = CTPN.SoPN
	JOIN KHO 
	ON KHO.MaKho = PN.MaKho
	WHERE CTPN.MaHH = @MAHH AND Kho.MaKho = @MAKHO AND Kho.TrangThai = 1 
	GROUP BY MaHH, TENKHO, DonGia, kho.MaKho
	
END

