USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNEWIDORDER]    Script Date: 12/24/2024 12:06:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETNEWIDORDER]
AS

BEGIN
	
	SELECT NEWMADDH = (SELECT CONCAT('DDH' ,COUNT(MaDDH) + 1) FROM LINK0.QLVT.DBO.DONDATHANG)
END
