USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEPRODUCT]    Script Date: 12/24/2024 12:04:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DELETEPRODUCT]
	@MaHH CHAR(10)
AS
BEGIN
	UPDATE HangHoa
	SET TrangThai = 0
	WHERE MaHH = @MaHH
END