USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEORDER]    Script Date: 12/24/2024 12:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DELETEORDER]
	@MADDH CHAR(10)
AS

BEGIN
	UPDATE DonDatHang
	SET TrangThai = 0
	WHERE MaDDH = @MADDH
END
