USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETWAREHOUSE]    Script Date: 12/24/2024 12:07:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETWAREHOUSE]
@MACN_CBX CHAR(4)
AS
BEGIN
	DECLARE @MACN CHAR(10)
	SET @MACN = (SELECT MACN FROM ChiNhanh)
	IF( @MACN = @MACN_CBX)
	BEGIN
		SELECT MaKho, TenKho
		FROM KHO
		WHERE TrangThai = 1
	END
	ELSE
	BEGIN
		SELECT MaKho, TenKho
		FROM  LINK2.QLVT.DBO.KHO
		WHERE TrangThai = 1
	END
END