USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNEWIDCUSTOMER]    Script Date: 12/24/2024 12:05:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETNEWIDCUSTOMER]
AS

BEGIN
	
	SELECT NEWMAPN = (SELECT (COUNT(MaKH) + 1) FROM LINK0.QLVT.DBO.KHACHHANG)
END