USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETORDER]    Script Date: 12/24/2024 12:06:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETORDER]
	@MACN_CBX CHAR(4)
AS
BEGIN
	DECLARE @MACN CHAR(10)
	SET @MACN = (SELECT MACN FROM ChiNhanh)
	IF( @MACN = @MACN_CBX)
	BEGIN
		SELECT DDH.MaDDH, TenHH ,NgayLap = FORMAT(NgayLap,'dd-MM-yyyy'), NV.MaNV ,HOTEN, K.TenKho, NCC.TenNCC, SoLuong, DonGia
		FROM DonDatHang AS DDH
		JOIN ChiTietDonDatHang AS CTDDH 
		ON DDH.MaDDH = CTDDH.MaDDH
		JOIN (SELECT MaKho, TenKho, TrangThai FROM Kho) AS K
		ON K.MaKho = DDH.MaKho
		JOIN (SELECT MaNCC, TenNCC FROM NhaCungCap) AS NCC
		ON NCC.MaNCC = DDH.MaNCC
		JOIN (SELECT MaNV, HOTEN = HO +' ' + TEN FROM NHANVIEN) AS NV
		ON NV.MaNV = DDH.MaNV
		JOIN HangHoa AS HH
		ON CTDDH.MaHH = HH.MaHH
		WHERE DDH.TrangThai = 1
	END
	ELSE
	BEGIN
		SELECT DDH.MaDDH, TenHH ,NgayLap = FORMAT(NgayLap,'dd-MM-yyyy'), NV.MaNV ,HOTEN, K.TenKho, NCC.TenNCC, SoLuong, DonGia
		FROM  LINK2.QLVT.DBO.DonDatHang AS DDH
		JOIN  LINK2.QLVT.DBO.ChiTietDonDatHang AS CTDDH 
		ON DDH.MaDDH = CTDDH.MaDDH
		JOIN (SELECT MaKho, TenKho, TrangThai FROM  LINK2.QLVT.DBO.Kho) AS K
		ON K.MaKho = DDH.MaKho
		JOIN (SELECT MaNCC, TenNCC FROM  LINK2.QLVT.DBO.NhaCungCap) AS NCC
		ON NCC.MaNCC = DDH.MaNCC
		JOIN (SELECT MaNV, HOTEN = HO +' ' + TEN FROM  LINK2.QLVT.DBO.NHANVIEN) AS NV
		ON NV.MaNV = DDH.MaNV
		JOIN HangHoa AS HH
		ON CTDDH.MaHH = HH.MaHH
		WHERE DDH.TrangThai = 1
	END
END