USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNEWIDSTAFF]    Script Date: 12/24/2024 12:06:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GETNEWIDSTAFF]
AS

BEGIN
	
	SELECT NEWMANV = (SELECT NEWMANV = CONCAT('NV' ,COUNT(MaNV) + 1)
					FROM LINK0.QLVT.DBO.NHANVIEN)
END