USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADDORDER]    Script Date: 12/24/2024 12:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ADDORDER]
	@NgayLap date,
	@MaNV char(10),
	@MaNCC char(10),
	@MaKho char(10),
	@MaHH char(10),
	@SoLuong int,
	@DonGia float
AS
SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
BEGIN
	DECLARE @NEWMADDH CHAR(10)
	SET @NEWMADDH = (SELECT CONCAT('DDH' ,COUNT(MaDDH) + 1) FROM LINK0.QLVT.DBO.DONDATHANG)

	INSERT INTO DonDatHang(MaDDH,NgayLap,MaNV,MaNCC,MaKho,TrangThai)
	VALUES(@NEWMADDH,@NgayLap,@MaNV,@MaNCC,@MaKho,1)

	INSERT INTO ChiTietDonDatHang(MaDDH,MaHH,SoLuong,DonGia)
	VALUES(@NEWMADDH,@MaHH,@SoLuong,@DonGia)
END
COMMIT TRANSACTION