USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADDSTAFF]    Script Date: 12/24/2024 12:03:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ADDSTAFF]
	
	@HO NVARCHAR(50),
	@TEN NVARCHAR(50),
	@PHAI NVARCHAR(3),
	@NGAYSINH DATE, 
	@DIACHI NVARCHAR(100),
	@SODIENTHOAI CHAR(10)
AS
SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
BEGIN
		
		DECLARE @MANV CHAR(10)
		SET @MANV = (SELECT NEWMANV = CONCAT('NV' ,COUNT(MaNV) + 1)
					FROM LINK0.QLVT.DBO.NHANVIEN)

		
		 

		INSERT INTO NhanVien(MaNV,Ho,Ten,Phai,NgaySinh,DiaChi, SoDienThoai,TrangThai) 
		VALUES(@MANV, @HO, @TEN, @PHAI, @NGAYSINH ,@DIACHI,@SODIENTHOAI,1)

		DECLARE @NGAYCHUYEN DATE
		DECLARE @MACN CHAR(10)
		SET @NGAYCHUYEN = (SELECT FORMAT(GETDATE(), 'yyyy-MM-dd') AS CurrentDate);
		SET @MACN = (SELECT MACN FROM ChiNhanh)

		INSERT INTO ChiTietNhanVien(MANV,MACN,NGAYCHUYEN) 
		VALUES(@MANV,@MACN,@NGAYCHUYEN)
		
	
END
COMMIT TRANSACTION


