USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADDSTAFF]    Script Date: 11/29/2024 3:39:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ADDSTAFF]
	
	@HO NVARCHAR(50),
	@TEN NVARCHAR(50),
	@PHAI NVARCHAR(3),
	@NGAYSINH DATE, 
	@DIACHI NVARCHAR(100),
	@SODIENTHOAI CHAR(10)
AS
BEGIN
	BEGIN DISTRIBUTED TRAN
		BEGIN TRY
		DECLARE @MANV CHAR(10)
		SET @MANV = (SELECT NEWMANV = CONCAT('NV' ,COUNT(MaNV) + 1)
					FROM LINK0.QLVT.DBO.NHANVIEN)

		INSERT INTO NhanVien(MaNV,Ho,Ten,Phai,NgaySinh,SoDienThoai,DiaChi,TrangThai) 
		VALUES(@MANV, @HO, @TEN, @PHAI, Format(@NGAYSINH, 'dd-MM-yyyy'),@DIACHI,@SODIENTHOAI,1)

		DECLARE @NGAYCHUYEN DATE
		DECLARE @MACN CHAR(10)
		SET @NGAYCHUYEN = (SELECT FORMAT(GETDATE(), 'dd-MM-yyyy') AS CurrentDate);
		SET @MACN = (SELECT MACN FROM ChiNhanh)

		INSERT INTO ChiTietNhanVien(MANV,MACN,NGAYCHUYEN) 
		VALUES(@MANV,@MACN,@NGAYCHUYEN)
	COMMIT TRANSACTION;
		END TRY
	BEGIN CATCH
    -- Rollback nếu có lỗi xảy ra
		ROLLBACK TRANSACTION;
		PRINT 'Thêm nhân viên bị lỗi và đã được rollback.';
	END CATCH;
END


